@font-face {
  font-family: 'iconfont';  /* project id 549944 */
  src: url('//at.alicdn.com/t/font_549944_sxf2biwuael2qpvi.eot');
  src: url('//at.alicdn.com/t/font_549944_sxf2biwuael2qpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_549944_sxf2biwuael2qpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_549944_sxf2biwuael2qpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_549944_sxf2biwuael2qpvi.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:1rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

